<!DOCTYPE html>
<html lang="en" ng-app="AppModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API GG</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="script/Bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" crossorigin="anonymous"/>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.4/ui-bootstrap-tpls-2.5.4.min.js"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js" crossorigin="anonymous"></script>
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.min.js" crossorigin="anonymous"></script> -->
   <script src="script/angular-animate.js"></script>
   <script src="script/angular-ui/ui-bootstrap-tpls.js" crossorigin="anonymous"></script> 
   <!-- <script src="script/angular-ui/ui-bootstrap-tpls.min.js" crossorigin="anonymous"></script>  -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" integrity="sha512-hUhvpC5f8cgc04OZb55j0KNGh4eh7dLxd/dPSJ5VyzqDWxsayYbojWyl5Tkcgrmb/RVKCRJI1jNlRbVP4WWC4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->


   <script src="script/app/app_sap.js" crossorigin="anonymous"></script>
   <script src="script/data/sap.js" crossorigin="anonymous"></script>


   <script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };

</script>
</head>
<body ng-controller="ctrlsap">
<div class="row">
  <div ></div>
    <pre> {{Const1}}</pre>
    <button type="button" class="btn btn-info pull-left btn-fill" ng-click="xxx()"> size90 </button>
    <button type="button" class="btn btn-info pull-left btn-fill" ng-click="modal1('size50')"> size50 </button>
  </div>
  <hr>


</body>
</html>
